.navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    color: purple;
  }
  .navbar li {
    padding: 67px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .logo {
    font-size: 60px;
    margin: 67px;
    color: purple;
    font-weight: bold;
    font-style: italic;
  }